@keyframes load {
  100% {
    transform: translateY(-1100px);
  }
}

body {
  background: #E6E2D6;
  margin: 0;
}

.loader-container {
  background: #31A32A;
  border: 15px solid #3E2EA3;
  border-radius: 50%;   
  box-shadow: inset 0 0 15px rgba(10,50,40,32);
  color: darkblue;
  font-size: 30px;
  font-weight: bold;
  height: 100px;
  left: calc(50% - 65px);
  line-height: 100px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: calc(50% - 65px);
  width: 100px;
}

.loader {
  animation: load 10s steps(11, end) infinite;
}